* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

link {
    display: none;
}

body {
    background: #271b31;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#portifolio {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
}

#portifolio h1 {
    text-align: center;
    width: 100%;
    font-size: 5rem;
    margin-bottom: 4rem;
    background-image: linear-gradient(to bottom,rebeccapurple,steelblue,turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffffff;
}

#sidebar {
    background-color: #413f3f;
    flex: 1.1 1 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 3rem 0;
    max-height: 784px;
    max-width: 400px;
}

#sidebar p {
    color: #ffffff;
}

#sidebar .BtDownload {
    color: #fff;
    background: linear-gradient(to bottom,rebeccapurple,steelblue,turquoise);
    text-decoration: none;
    border-radius: 3rem;
    text-align: center;
    box-sizing: content-box;
}

#sidebar .btn-curriculo {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

:hover.btn-curriculo {
    zoom: 1.05;
}

#sidebar .nomeCargo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: -5rem; 

}

#sidebar .nomeCargo p {
    font-family: poppins;
    font-size: 25px;
    font-weight: 500;
}

#sidebar .nomeCargo img {
    max-width: 50%;
    border-radius: 10px;
}

#socialNetwork {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.social-btn {
    color: #0072b1;
    padding: 10px 10px 5px;
    background-color: #1d1d1d;
    border-radius: 7px;
}

:hover.social-btn {
    background-color: #271b31;
}

#infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1d1d1d;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    width: 80%;
    border-radius: 5px;
}

#infoContainer .infoCard {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #444;
    width: 100%;
}

#infoContainer .infoCard svg {
    background-color: #111;
    padding: 0.4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
}

#infoContainer .infoCard h3 {
    color: #fff;
    font-weight: 700;
}

#infoContainer .infoCard a {
    color: #1572bb;
    font-weight: 700;
}

#infoContainer .infoCard #phoneIcon {
    color: #e93b81;
}

#infoContainer .infoCard #emailIcon {
    color: #6ab5b9;
}

#infoContainer .infoCard #pinIcon {
    color: #c17ceb;
}

#mainContent {
    background-color: #111;
    flex: 2 1 0;
    border-radius: 10px;
    padding: 3rem;
}

#mainContent section {
    display: flex;
    flex-direction: column;
}

#mainContent h2 {
    color: #fff;
    font-size: 2.2rem;
    margin-bottom: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

#mainContent h2:after {
    content: "";
    background: linear-gradient(to bottom,rebeccapurple,steelblue,turquoise);
    height: 3px;
    width: 30%;
}

#mainContent p {
    color: #fff;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

#tecnologiasContainer .tecnologias-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

#tecnologiasContainer .tecnologias-grid .tec-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    width: 45%;
    border-radius: 5px;
    flex-direction: column;
}

#tecnologiasContainer .tecnologias-grid .tec-card h3 {
    color: #fff;
    margin-bottom: 1rem;
}

#tecnologiasContainer .tecnologias-grid .tec-card svg {
    font-size: 6rem;
}

#tecnologiasContainer .tecnologias-grid #python svg {
    color: #f3da35;
}

#tecnologiasContainer .tecnologias-grid #html5 svg {
    color: #e44d26;
}

#tecnologiasContainer .tecnologias-grid #css3 svg {
    color: #1572b6;
}

#tecnologiasContainer .tecnologias-grid #javascript svg {
    color: #f3da35;
}

#tecnologiasContainer .tecnologias-grid #git svg {
    color: #f54d27;
}

#tecnologiasContainer .tecnologias-grid #mongodb svg {
    color: #3bb54f;
}

#tecnologiasContainer .tecnologias-grid #django svg {
    color: #355a35;
}

#tecnologiasContainer .tecnologias-grid #flask svg {
    color: #fff;
}

#tecnologiasContainer .tecnologias-grid #sqlalchemy svg {
    color: #fff;
}

#tecnologiasContainer .tecnologias-grid #unity3d svg {
    color: #000000;
}

#tecnologiasContainer .tecnologias-grid #dotnet svg {
    color: #7025e9;
}

#projetosContainer {
    margin-bottom: 1rem;
}

#projetosContainer .projetos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

#projetosContainer a img {
    width: 280px;
}

#projetosContainer h3 {
    color: #1572bb;
    text-align: center;
    text-decoration: none;
}

